<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.android.textclassifier.tests">

  <uses-sdk android:minSdkVersion="28"/>

  <application>
    <uses-library android:name="android.test.runner"/>
  </application>

  <instrumentation
      android:name="androidx.test.runner.AndroidJUnitRunner"
      android:targetPackage="com.android.textclassifier.tests"/>
</manifest>
